<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Object Detection</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./object-detection.component.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 camera-container">
        <div class="my-4">
          <img [src]="cameraFeedUrl" class="img-fluid camera-feed" alt="Camera Feed">
        </div>
      </div>
      <div class="col-md-6">
        <div class="my-4 d-flex justify-content-start align-items-start">
          <button *ngIf="!detectionRunning" class="btn btn-success btn-lg mx-2" (click)="startDetection()">Start Detection</button>
          <button *ngIf="detectionRunning" class="btn btn-danger btn-lg mx-2" (click)="stopDetection()">Stop Detection</button>
        </div>
        <div class="container-fluid">
          <h5 class="form-group">Zoek naar een product in beeld.</h5>
          <div class="form-group d-flex justify-content-center">
            <input 
              [(ngModel)]="userInput" 
              class="form-control input-short" 
              placeholder="Ik wil graag mijn telefoon detecteren..."
            >
            <button class="btn btn-primary ml-2" (click)="processNaturalLanguage()">
              Zoek
            </button>
          </div>
          <div *ngIf="detectedObject" class="alert alert-info">
            <p>Opzoek naar "{{ detectedObject }}" in the Life Camera Feed</p>
          </div>
          <div *ngIf="showFeedbackSection && detectedClasses.length > 0" class="my-4 feedback-container"> 
            <h4>Geef feedback aan de Object Detectie AI</h4> 
            <h6>Hebben we jouw producten correct herkent?</h6>
            <div class="feedback-row">
              <div class="feedback-col" *ngFor="let objectClass of detectedClasses">
                <label>{{ objectClass }}</label>
                <div class="btn-group">
                  <button class="btn btn-outline-success" (click)="giveFeedback(objectClass, true)">Ja</button>
                  <button class="btn btn-outline-danger" (click)="giveFeedback(objectClass, false)">Nee</button>
                </div>
                <div *ngIf="showDropdownFor[objectClass]">
                  <p>Wat is het juiste product?</p>
                  <select #selectedClass [(ngModel)]="correctClass[objectClass]" class="form-control">
                    <option *ngFor="let option of objectClasses" [value]="option">{{ option }}</option>
                  </select>
                  <button class="btn btn-outline-success mt-2" (click)="submitFeedbackForObject(objectClass, selectedClass.value)">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': displayStyle}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Tekst AI Detectie</h4>
        </div>
        <div class="modal-body">
          <p>Heb ik het product "{{ detectedObject }}" goed herkend?</p>
          <div class="btn-group">
            <button class="btn btn-primary" (click)="handleFeedback(true)">Ja</button>
            <button class="btn btn-secondary" (click)="handleFeedback(false)">Nee</button>
          </div>
          <div *ngIf="showDropdown">
            <p>Wat is het juiste product?</p>
            <select [(ngModel)]="selectedClass" class="form-control">
              <option *ngFor="let option of objectClasses" [value]="option">{{ option }}</option>
            </select>
            <button class="btn btn-outline-success mt-2" (click)="submitFeedback()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>