/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
  display: flex;
  flex-direction: column;
}

.container-fluid {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.row {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: hidden;
  margin-left: 0px;
}

.camera-feed {
  width: 100%;
  height: calc(100vh - 100px); /* Adjust the height to make the camera feed larger */
  object-fit: cover;
  margin-left: 15px;
  padding-bottom: 25px;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.feedback-container {
  width: 100%;
  background-color: white;
  padding: 10px;
  margin-top: 10px; /* Add margin to the top */
  animation: slideDown 0.5s ease-out; /* Apply the slide down animation */
}

.feedback-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback-col {
  flex: 1 1 45%;
  margin: 10px;
}

.feedback-col label {
  display: block;
  margin-bottom: 5px;
}

.feedback-col .btn-group {
  display: flex;
  justify-content: space-between;
}

.feedback-col .dropdown {
  margin-top: 10px;
}

.feedback-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.feedback-item span {
  margin-right: 10px;
}

.submit-btn {
  background-color: yellow;
  padding: 5px 10px;
  margin-left: 10px;
}

.form-group {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.form-group .form-control {
  margin-right: 10px;
}

.input-short {
  width: 90%; /* Adjust the width as needed */
}

.btn-lg {
  padding: 15px 30px;
  font-size: 1.25rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1050;
  left: 50%;
  top: 20%; /* Adjusted to place the modal in the middle-top of the screen */
  transform: translate(-50%, -20%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  position: relative;
  
  top: 1%;
  width: auto;
  margin: auto;
  pointer-events: none;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px; /* Optional: limit the width of the modal */
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  margin: auto; /* Center the modal content */
}

.modal-body .btn-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal-body .btn-group .btn {
  flex: 1;
  margin: 0 5px;
}

.modal-body .btn-group .btn-primary {
  background-color: rgb(111, 209, 111); /* Background color of the 'Ja' button */
  border-color: green; /* Border color of the 'Ja' button */
  color: white;
}

.modal-body .btn-group .btn-secondary {
  background-color: lightgray;
  border-color: lightgray;
  color: black; /* Text color of the 'Nee' button */
}

.modal-body .btn-outline-submit {
  background-color: rgb(116, 240, 116); 
  border-color: green;
  color: white;
  
}

input::placeholder {
  color: lightgray;
}