html, body {
    height: 100%;
    margin: 0;
  }
  
  .start-screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Full viewport height */
  }
  
  .start-demo-btn {
    font-size: 32px; /* Larger font size */
    padding: 30px 60px; /* Larger padding */
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
  }